fastapi>=0.128.0
grpcio-tools>=1.76.0
langgraph>=1.0.6
pymilvus>=2.3.9
numpy>=2.4.1
torch>=2.9.1
dashscope>=1.25.8
langchain>=1.2.6
langchain-community>=0.4.1
pydantic-settings>=2.12.0
typing-extensions>=4.15.0
python-multipart>=0.0.9
uvicorn>=0.32.0